.cont-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 0px;
}
.ant-collapse-header {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 25px 40px !important;
    font-size: 18px;
    font-weight: 500;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
    margin-top: 16px;
}
.p-collapse {
   font-size: 14px;
}
.collapse {
    width: 800px;
}
.btn {
    background-color: #EDCD37;
    border: 1px solid #EDCD37;
    padding: 8px 20px;
    margin-top: 34px;
    border-radius: 4px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}